@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h1>Login</h1>

<form method="post" action="~/Home/Login">
    Email <br />
    @Html.TextBox("Email") <br />    
    Password <br />
    @Html.Password("Password") <br />
    <input type="submit" value="Login" /> <br />    
</form>